.form-container {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-header {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.form-buttons-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

/* =======  MESSAGE  ======= */
.message {
  width: 40vw;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 0 2em;
  position: absolute;
  top: 0;
  left: calc(100vw / 2 - 20vw);
  letter-spacing: 6%;
  font-size: 1rem;
  color: gray;
  border-radius: 5px;
  opacity: 1;
  box-sizing: border-box;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message span {
  margin-left: 2em;
  font-size: 1.5rem;
}

.error-message {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}

.success-message {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}

.message-icon {
  font-size: 25px;
}

/* =======  IMAGES  ======= */

.images-container {
  width: 80%;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  grid-gap: 1em;
}

.images-container img {
  border: 1px solid gray;
  width: 100%;
  align-self: center;
  height: 15vh;
  object-fit: contain;
}

.image-box {
  position: relative;
}

.image-overlay {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
}
