body {
  margin: 0;
  padding: 0;
}
/* ========  NAVBAR  ========= */
nav {
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 2em;
}

nav a {
  text-decoration: none;
  color: black;
}

.active-link {
  text-decoration: underline;
}

/* ========  BUTTONS  ======== */
button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5em 2em;
}

.card-button {
  background-color: crimson;
  color: white;
  font-size: 1rem;
}

.form-button {
  background-color: rgb(200, 109, 127);
  color: white;
  font-size: 1rem;
  width: 60%;
}

.upload-button {
  background-color: rgb(200, 109, 127);
  color: white;
  font-size: 1rem;
  width: 35%;
}

.confirm-button {
  background-color: #1890ff;
  color: white;
  margin-left: 1em;
}

.cancel-button {
  border: 1px solid #ddd;
}

.update-button {
  border: 1px solid #ddd;
  width: 40%;
}

.delete-button {
  background-color: crimson;
  color: white;
  width: 40%;
}

.ad-button {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 50%;
  align-self: center;
  font-weight: 700;
}
/* ==========  FORM  ========= */
input {
  height: 40px;
  width: 80%;
  padding-left: 1em;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}

textarea {
  resize: none;
  width: 80%;
  height: 15vh;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

label {
  margin-left: 10%;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  align-self: flex-start;
}
